/*variables utilizadas*/

$bg-screen: 720px;
$sm-screen: 719px;

$color:
rgba(20, 17, 20),
rgba(52, 42, 50), 
rgb(97, 43, 65),
rgba(252, 217, 203),
rgba(255, 255, 255),
rgba(187, 70, 116);


$base-wd: 100%;
$base-hg: 100%;

$z-max:1000;
$z-min:-1;


