@import'../variables';

#productos{

    .group-prod{

        .subsect-prod{

            margin: 0.6vw 14vw;
            padding: 2vw;
            background-color: rgba(nth($color, 1),0.5);
            border-radius: 3vw;
            border: solid nth($color, 1 ) 0.5px;

            img{
                width: 25vw; 
                border-radius: 3vw;
                padding: 2vw;
            }

            .prod-text{

                margin: 0;
                display: block;
                text-align: center;
                color: nth($color, 4);
                
                h3{
                    animation: slideInUp 2s;
                    font-family: 'Montserrat', sans-serif;
                }

                p{
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.9vw;

                }

                ul{
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    font-family: 'Roboto', sans-serif;
                    li{
                        margin: 0;
                        padding: 0;             
                        list-style-type: none;
                        font-family: 'Roboto', sans-serif;
                        a{
                            color: nth($color, 4);
                            font-size: 1.5vw;
                            text-decoration: bold;
                            font-family: 'Roboto', sans-serif;
                        }
                    }
                }

                ol{
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    font-family: 'Roboto', sans-serif;
                    li{
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        font-family: 'Roboto', sans-serif;

                    }
                }
            }
        }
    }

    .item2-4{
        flex-direction: row-reverse;
    }

}